.sidebar-container {
  margin-top: 60px;
  height: 100%;
  position: fixed;
  background-color: #dc3545;
  text-align: center;
  padding-top: 25px;
  width: 200px;
}

.sidebar-text {
  font-size: x-large;
  color: white;
  font-weight: bold;
}

.sidebar-links {
  text-decoration: none;
}
